/* Genel stil ayarları */
.aboutContainer {
height: 80vh;
width: max(80vw, 100%);
display: flex;
justify-content: center;
align-items: center;
margin: auto;
cursor: initial;
}
.blankStart {
    display: block;
    height: 4rem;
    width: 100vw;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;

}

.avatarContainer {
  position: relative;
  height: 130%;
  margin-bottom: 4rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;

}


.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1rem;
}

.headingAccent {
  color: #ff6347;
}

.paragraph {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  padding: 0 0.5rem;
}

.counters {
  display: flex;
  max-width: 36rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.counterItem {
  position: relative;
  flex: 1;
}

.counterItem::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.counterText {
  font-size: 2rem;
  font-weight: 800;
  color: #ff6347; /* Örnek bir accent rengi */
  margin-bottom: 0.5rem;
}

.counterLabel {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 1.4;
  max-width: 100px;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  width: min(80vw, 100%);
  height: 30vh;
  overflow: hidden;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 60%;
}

.infoTabs {
  display: flex;
  gap: 1rem;
}

.infoTab {
  position: relative;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1.125rem;
}

.infoTabActive {
  color: #ff6347; /* Örnek bir accent rengi */
}

.infoTabActive::after {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff6347;
  transition: all 0.3s;
}

.infoContent {
  padding-top: 0.5rem;
  height: 5.2rem;
}

.infoItem {
  display: flex;
  max-width: max-content;
  gap: 0.5rem;
  color: rgba(255, 255, 255, 0.6);
}

.infoItemTitle {
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.infoIcons {
  display: flex;
  gap: 1rem;
}



.infoIcon {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.8);
}
.experience {
  display: flex;
  flex: 1 1 0%;
}
@media (min-width: 1280px) {
  .experience {
    column-gap: 1.5rem;
  }
}

.stage {
  display: none;
}
@media (min-width: 768px) {
  .stage {
    display: flex;
  }
}
@media (max-width: 964px) {
    .avatarContainer {
        display: none;
    }
}
