video {
    animation: rounded-mask-reveal linear both;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

@keyframes rounded-mask-reveal {
    from {
        clip-path: inset(10% 10% 10% 10% round 30px);
    }
    to {
        clip-path: inset(0% 0% 0% 0% round 30px);

    }
}