
.ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    width: 100%;
    height: 100%;
  }
  
  .main {
    width: 90vw;
    height: 600px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .card {
    background: hsl(0 0% 10%);
    width: 100%;
    /* aspect-ratio: 4 / 3; */
    position: relative;
    transition: background 0.1s;
    border-radius: 0.4rem;
  }
  
  .card:hover {
    --active: 1;
  }
  
  .card::after {
    content: "";
    position: absolute;
    inset: 0;
    background:
      radial-gradient(circle at calc(var(--x) * 1px) calc(var(--y) * 1px), hsl(0 0% 100% / 0.15), transparent 15vmin);
    background-attachment: fixed;
    opacity: var(--active, 0);
    transition: opacity 0.2s;
    pointer-events: none;
  }
  
  .card::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
      radial-gradient(circle at calc(var(--x) * 1px) calc(var(--y) * 1px), hsl(0 0% 100% / 0.5), transparent 15vmin),
      transparent;
    background-attachment: fixed;
    pointer-events: none;
    mask:
      linear-gradient(white, white) 50% 0 / 100% 4px no-repeat,
      linear-gradient(white, white) 50% 100% / 100% 4px no-repeat,
      linear-gradient(white, white) 0 50% / 4px 100% no-repeat,
      linear-gradient(white, white) 100% 50% / 4px 100% no-repeat;
  }
  
  .span {
    font-family: sans-serif, system-ui;
    position: absolute;
    bottom: 0.65rem;
    right: 0.65rem;
    font-weight: bold;
    font-size: 2rem;
    color: hsl(0 0% 100%);
  }
  