.logo {
    letter-spacing: .15em;
    font-weight: 100;
}
.head {
  width: min(100vw, 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  height: var(--head-height);
}
