.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateZ(5deg);
    width: 80%;
    height: 45vh;
    margin: auto;
    margin-bottom: 10rem;
    gap: 1.2rem;
}
